body {
  background-color: #e3e3e3;
}

/* My Answers for the CSS portion */

.row-one {
  background-color: #519548;
}

.row-two {
  background-color: #F9D423;
}

.row-three {
  background-color: #B11623;
}

.row-four {
  background-color: #008C9E;
}
